body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden; /* 화면 스크롤 방지 */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 전체 화면 높이 */
}

.top-section {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0;
    height: 60px; /* 상단 섹션 높이 */
}

.top-section button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#youtube-btn {
    background-color: #FF0000;
    color: white;
}

#chzzk-btn {
    background-color: #00aaff;
    color: white;
}

.bottom-section {
    flex: 1; /* 남은 공간을 모두 차지 */
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
