body { 
    background: #235; 
    margin: 0; 
    padding: 0; 
}

.player { 
    width: 100%; 
    color: #fff; 
    text-align: center; 
    /* 수정됨: 하단 입력창이 없으므로 화면 전체 높이 사용 */
    height: 100vh; 
}

.logo { 
    padding-top: 25vh; 
    display: none; 
    text-align: center; 
    font-size: 60px; 
    font-weight: bold; 
    user-select: none; 
    color: transparent; 
    background: linear-gradient(340deg, rgb(75, 161, 252) 3.44%, rgb(236, 42, 237) 100%); 
    -webkit-background-clip: text; 
}

/* .ready 상태일 때 로고 보이고 플레이어 숨김 */
.ready .logo { display: block; }
.ready .player { display: none; }

/* 모바일 화면 대응 */
@media screen and (max-width: 640px) { 
    .logo { font-size: 30px; }
}