body { background: #235; margin: 0; padding: 0; min-width: 400px; min-height: 50px; }
.form-control { padding: 10px 15px; margin: 0 auto; display: -webkit-flex; display: flex; box-sizing: border-box; width: 100%; transition: width 0.5s ease-in-out; zoom:1; }
.form-control input { height: 30px; margin: 0; padding: 0; border: none; }
.form-control input:focus { outline: 3px solid rgba(0, 123, 255, 0.3); }
.form-control .url { background: #347; color: #9bd; border-radius: 5px 0 0 5px; padding: 0 10px; flex: 1; overflow: hidden; text-overflow: ellipsis; }
.form-control .play { background: #123 url('../images/play.png') center no-repeat; background-size: 24px; width: 40px; border-radius: 0 5px 5px 0; cursor: pointer; }
.form-control .play:hover { background-color: #012 }